.form-error {
  color: red;
}

.form-valid {
  color: green;
}

.form-message {
  font-size: 12px;
  height: 12px;
}

input.ng-dirty.ng-invalid {
  border: 1px solid red;
}

.well {
  height: 216px;
}
